Glipho.OAuth.Providers/Configuration/ProvidersSection.csd.xsd

<?xml version="1.0"?>
<!--
<auto-generated>
    This code was generated by a tool.

     Changes to this file may cause incorrect behavior and will be lost if
    the code is regenerated.
</auto-generated>
-->
<xs:schema xmlns:tns="urn:Glipho.OAuth.Configuration" elementFormDefault="qualified" targetNamespace="urn:Glipho.OAuth.Configuration" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="glipho.oAuth" type="tns:Glipho.OAuth.Providers.Configuration.glipho.oAuthCT" />
	<xs:complexType name="Glipho.OAuth.Providers.Configuration.glipho.oAuthCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" maxOccurs="1" name="serviceProvider" type="tns:Glipho.OAuth.Providers.Configuration.ServiceProviderCT" />
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="Glipho.OAuth.Providers.Configuration.ServiceProviderCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="1" name="endpoints" type="tns:Glipho.OAuth.Providers.Configuration.EndpointsCT">
				<xs:annotation>
					<xs:documentation>The Endpoints.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="1" name="nonces" type="tns:Glipho.OAuth.Providers.Configuration.NoncesCT">
				<xs:annotation>
					<xs:documentation>The Nonces.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="roleProvider" type="tns:Glipho.OAuth.Providers.Configuration.RoleProviderCT">
				<xs:annotation>
					<xs:documentation>The RoleProvider.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="exemptUrls" type="tns:Glipho.OAuth.Providers.Configuration.ExemptUrlsCT">
				<xs:annotation>
					<xs:documentation>The ExemptUrls.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attribute name="tokenProvider" use="optional" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>The TokenProvider.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Glipho.OAuth.Providers.Configuration.EndpointCT">
		<xs:attribute name="url" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Url.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Glipho.OAuth.Providers.Configuration.EndpointsCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="1" name="accessToken" type="tns:Glipho.OAuth.Providers.Configuration.EndpointCT">
				<xs:annotation>
					<xs:documentation>The AccessToken.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="1" name="requestToken" type="tns:Glipho.OAuth.Providers.Configuration.EndpointCT">
				<xs:annotation>
					<xs:documentation>The RequestToken.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="1" name="userAuthorisation" type="tns:Glipho.OAuth.Providers.Configuration.EndpointCT">
				<xs:annotation>
					<xs:documentation>The UserAuthorisation.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="Glipho.OAuth.Providers.Configuration.NoncesCT">
		<xs:attribute name="clearingInterval" use="required" type="xs:time">
			<xs:annotation>
				<xs:documentation>The ClearingInterval.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Glipho.OAuth.Providers.Configuration.RoleProviderCT">
		<xs:attribute name="enableCustomRoleProvider" use="optional" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>The EnableCustomRoleProvider.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Glipho.OAuth.Providers.Configuration.ExemptUrlsCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" maxOccurs="unbounded" name="clear" type="tns:Glipho.OAuth.Providers.Configuration.ExemptUrlsClearCT" />
			<xs:element minOccurs="0" maxOccurs="unbounded" name="remove" type="tns:Glipho.OAuth.Providers.Configuration.ExemptUrlsRemoveCT" />
			<xs:element minOccurs="0" maxOccurs="unbounded" name="add" type="tns:Glipho.OAuth.Providers.Configuration.ExemptUrlCT">
				<xs:annotation>
					<xs:documentation>The ExemptUrl Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="Glipho.OAuth.Providers.Configuration.ExemptUrlsRemoveCT">
		<xs:attribute name="url" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Url.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Glipho.OAuth.Providers.Configuration.ExemptUrlsClearCT" />
	<xs:complexType name="Glipho.OAuth.Providers.Configuration.ExemptUrlCT">
		<xs:attribute name="url" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Url.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
</xs:schema>
